* {
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffffff !important;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif !important;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
.form-content{
    align-items: center;
}
.carousel-item{
    height: 100vh;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #0094da !important;
    background-color: #0094da !important;
}
#content-desktop {display: block;}
#content-mobile {display: none;}
.my-header{
    left: 0 !important;
    top: 0 !important;
    background-color: #f1f4f8;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.join-us{
    background-color: #0094da !important;
    border: none !important;
    padding: 0 16px !important;
    line-height: 36px !important;
    border-radius: 4px !important;
	margin: 0 !important;
}
.join-us:hover{
    background-color: #236AC2 !important;
}
.sign-in{
    font-size: 14px !important;
    cursor: pointer;
    background-color: #e5f6fd !important;
    color: #0094da !important;
    border: 1px solid #0094da !important;
    width: 100%;
    height: 40px;
    margin: 0 !important;
    text-transform:uppercase;
    padding: 0 16px !important;
    line-height: 36px !important;
    border-radius: 4px !important;
}
.sign-in:hover{
    cursor: pointer;
    background-color: #0094da !important;
    color: #ffffff !important;
}
.hero-contact{
	position: relative;
    left: 8%;
}
.information{
    text-align: center;
    left: 50%;
}
.contact-info{
    padding-right: 16px;
}
.contact-text{
    font-size: 16px;
    color: #000000;
    margin: 0 !important;
}
.contact-icon{
    width: 16px;
    height: auto;
    margin-right: 8px;
}
.hero-content{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    vertical-align: middle;
    clear: both;
}
.micro-atm{
    bottom: 0;
	width: 100%;
}
.special-form{
    padding: 0;
    margin: 20px 0;
}
.content-group{
    padding: 0 60px !important;
}
.login-card{
    width: 100%;
    padding: 24px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
}
.logo-login{
    width: 160px;
    height: auto;
}
.login-header{
    text-align: left;
    text-transform: uppercase;
}
.form-title{
    color: #000000;
    margin: 0 0 24px 0 !important;
}
.login-description{
    font-size: 20px !important;
    color: #646464;
	margin: 0 0 32px 0 !important;
}
.login-form{
    padding-top: 16px;
}
.app-card{
    width: 100%;
    padding: 12px 24px 24px;
    overflow: hidden;
    margin: 1px 0 0 0 !important;
    border-radius: 0 0 4px 4px!important;
    background-color:#ffffff;
    text-align: center;
}
.app-card.d-flex{
    flex-direction: row;
}
.captcha-group{
    clear: both;
    float: left;
    margin-bottom: 28px;
}
.captcha-image{
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #000;
}

.refresh{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin-left: 12px !important;
    position: absolute;
}
.captcha-icon{
    width: 24px;
    height: auto;
}
.banner-group{
    align-items:center;
    top:50%;
}
.star {
	color: red;
	font-size: 22px !important;
	line-height: 0px;
    padding-left: 4px;
  }
.custom-control-label{
    font-size: 14px !important;
    color: #000000 !important;
    line-height: 22px;
}
.forgot-label{
    font-size: 14px !important;
    color: #0094da !important;
    line-height: 22px;
    float: right;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}
.forgot-label:hover{
    color:#00415f !important;
}
.loginlink {
    text-align: center;
    list-style: none;
    padding-left: 0;
    font-family: Roboto-Regular,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 16px 0;
}
.loginlink li {
    display: inline-block;
    position: relative;
}
.loginlink li a{
    color: #0094da !important;
}
.loginlink li a:hover{
    color: #00415f !important;
}
.loginlink li+li::before {
    content: "";
    width: 1px;
    height: 14px;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 10px;
    background-color: #0094da;
}
.weblink {
    text-align: center;
    list-style: none;
    padding: 16px 0 0 0;
    font-family: Roboto-Regular,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    border-top: 1px solid #cecece;
}
.weblink li {
    display: inline-block;
    position: relative;
}
.weblink li a{
    color: #000000 !important;
}
.weblink li a:hover{
    color: #0094da !important;
}
.weblink li+li::before {
    content: "";
    width: 1px;
    height: 16px;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 12px;
    background-color: #0094da;
}
.ssl-secured{
    padding: 32px 0 0 0 !important;
}
.ssl-secured.d-flex{
    flex-direction: row;
}
.link-to-website{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0 8px;
}
.link-to-website:hover{
    color: #0094da !important;
}
.sectigo-brand{
    padding: 0 !important;
}
.dnld-app{
    padding: 0 !important;
}
.download-app{
    font-size: 12px !important;
    color: #000000;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-bottom: 8px;
}
.footer-content{
    width: 100%;
    padding: 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-text{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
}
.link-to-website{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0 8px;
}
.link-to-website:hover{
    color: #0094da !important;
}
.social{
    padding-top: 8px;
}
.social-media{
    padding-left: 4px;
}
.main-body,
.main-dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.main-body::before {
    content: 'main';
    position: fixed;
    top: 45%;
    left: 70%;
    transform: translate3d(-50%, -58%, 0);
    font-size: 1300px;
    font-weight: 600;
    letter-spacing: -10px;
    line-height: .5;
    opacity: .02;
    z-index: -1;
    display: none;
}
.main-body.main-sidebar-hide .logo-icon {
    display: block;
    height: 2.3rem;
    text-align: center;
    margin: 0 auto;
}

.main-body.main-sidebar-hide .main-logo {
    display: none;
}

.main-body .logo-icon {
    display: none !important;
}
.main-body-sidebar {
    display: block;
}
.main-body-sidebar .main-content {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.main-body-sidebar .main-content-header {
    height: auto;
    padding: 15px 20px;
    background: #fff;
    margin: 21px;
    border: 1px solid #e3e8f1;
}

.main-body-sidebar .main-footer {
    margin-top: auto;
}
#global-loader {
    position: fixed;
    z-index: 999;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.sidebar-scroll {
    height: 100vh !important;
}
.main-sidebar-hide .nav-badge {
    position: absolute;
    top: 5px;
    display: block !important;
    padding: 3px 5px !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.09), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.main-sidebar-body .nav-sub .nav-sub-item .nav-sub-link:before::hover {
    content: "";
    position: absolute;
    left: 0px;
    display: block;
    height: 10%;
    width: 1px;
    background: #3858f9;
    left: -27px;
    z-index: 99;
    height: 34px;
}
.main-sidebar .search {
    position: relative;
    padding: 0 10px;
}

.main-sidebar .search .form-control {
    display: block;
    width: 214px;
    height: 40px;
    border-radius: 25px;
}
.main-sidebar .search .btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 14px;
    padding-right: 31px;
}
.main-sidebar-open .main-sidebar {
    width: 240px;
    transition: left 0.3s ease, width 0.3s ease;
}
.main-sidebar {
    background: #fff;
    box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, 0.09), 0 4px 25px 0 rgba(0, 0, 0, 0.09), 0 8px 10px -5px rgba(0, 0, 0, 0.09);
    width: 240px;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 0 solid #d8dfea;
    transition: all 0.4s;
}
.main-sidebar-header {
    background: #fff;
}
.main-sidebar-body .nav-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #767c84;
    padding: 15px 0px 12px 15px;
}

.main-sidebar-body .nav-label:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
}

.main-sidebar-body .nav-link {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #334151;
}
.main-sidebar-body .nav-item:hover .nav-link {
    border-radius: 0 100px 100px 0;
    box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
    margin-right: 14px;
    color: #fff;
    background: linear-gradient(45deg, #f33057, #3858f9);
    box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
}
.main-sidebar-body .nav-item+.nav-item::before {
    border-top: 0;
}

.main-sidebar-body .nav-link .leftmenu-icon {
    font-size: 18px;
    line-height: 0;
    margin-right: 4px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
}
.main-sidebar-body .nav-item.show>.nav-sub {
    max-height: 100vh;
    -webkit-transition: max-height 2s ease;
    -o-transition: max-height 2s ease;
    transition: max-height 2s ease;
    transition: all 2s;
}
.main-sidebar-body .nav-item.active .nav-link {
    color: #fff;
    font-weight: 500;
    border-top: 0;
    background: linear-gradient(45deg, #f33057, #3858f9);
    border-radius: 0 6px 6px 0;
    box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
}
.main-sidebar-body .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 7px 12px;
    color: #031b4e;
    position: relative;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
    font-weight: 500;
    margin-right: 14px;
}
.main-sidebar-body .nav-sub-item {
    margin-left: 52px;
}

.main-sidebar-body .nav-item.show>.nav-sub {
    position: relative;
    margin-top: 6px !important;
    margin-bottom: 3px !important;
}

.main-sidebar-body .nav-sub li.active .nav-sub-link::after {
    border-color: #3858f9;
}

.main-sidebar-hide .nav-sub {
    display: none;
}

.main-sidebar-body .nav-sub {
    list-style: none;
    padding: 0;
    margin: 0 !important;
    position: relative;
}
.main-sidebar-body .nav-item {
    position: relative;
}

.main-sidebar-body .nav-item.active {
    border-top: 0;
}
.main-sidebar-body .nav-sub-link {
    font-weight: 500;
    position: relative;
}
.main-sidebar-body .nav-sub-link:hover {
    color: #3858f9;
}
.main-sidebar-loggedin {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-shrink: 0;
    border-bottom: 0;
    margin-top: 64px;
}
.main-sidebar-body .nav-item.show .nav-link.with-sub .angle {
    transform: rotate(90deg);
}
.main-sidebar-body .nav-sub-item {
    margin-left: 55px;
}
.main-sidebar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.main-sidebar-sticky .main-sidebar-body {
    height: calc(100vh - 122px);
    position: relative;
}
.main-sidebar-header {
    flex-shrink: 0;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dee4ec;
    border-right: 1px solid #dee4ec;
    position: fixed;
    width: 240px;
    z-index: 999;
    transition: left 0.3s ease, width 0.3s ease;
}

.main-sidebar-loggedin {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-shrink: 0;
    border-bottom: 0;
    margin-top: 64px;
}
.main-sidebar .nav-pills-circle.nav .nav-item .dropdown-menu {
    left: -30px;
    min-width: 200px;
}

.main-sidebar .nav-pills-circle.nav .nav-item .dropdown-menu .dropdown-item i {
    font-size: 14px;
    margin-right: 3px;
}

.main-sidebar .nav-pills-circle .nav-pill {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #eaedf1 !important;
    color: #68798b !important;
    border-radius: 5px;
    margin: 0 4px;
    padding: 0.4rem 0.7rem;
}

.main-sidebar-hide .main-sidebar-loggedin .main-img-user {
    margin: auto;
}

.main-sidebar-loggedin .main-img-user {
    width: 38px;
    height: 38px;
}

.main-sidebar-loggedin .media-body {
    margin-left: 12px;
    transition: left 0.4s ease, width 0.4s ease;
}

.main-sidebar-loggedin .media-body h6 {
    font-weight: 700;
    font-size: 14px;
    color: #5e597d;
    margin-bottom: 2px;
}

.main-sidebar-loggedin .media-body span {
    display: block;
    color: #7987a1;
    font-size: 13px;
}
.main-sidebar-hide .side-badge {
    display: none;
}

.main-sidebar-body .nav {
    flex-direction: column;
}

.main-sidebar-body .nav-item.active .nav-link .nav-badge {
    right: 12px !important;
}

.main-sidebar-body .nav-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.9s ease;
    -o-transition: max-height 0.9s ease;
    transition: max-height 0.9s ease;
    transition: all 0.9s;
    margin-left: 32px;
}

.main-sidebar-body .nav-item+.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    right: 0;
    border-top: 1px dotted #e2eaf9;
}

.main-sidebar-body .nav-link {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    color: #5e597d;
    padding-bottom: 2px;
}

.main-sidebar-hide .main-sidebar-body .nav-link .leftmenu-icon {
    margin: auto;
}

.main-sidebar-hide .nav-text-badge {
    display: none;
}

.main-sidebar-body .nav-link i.typcn::before {
    width: auto;
}
.main-sidebar-body .nav-link .leftmenu-icon .eve-icon {
    fill: #031b4e;
}

.main-sidebar-body .nav-sub {
    list-style: none;
    padding: 0;
    margin: 0 0 0 7px;
    position: relative;
}

.main-sidebar-body .nav-sub-item .nav-sub {
    padding: 0 0 0 18px;
    border-left-width: 1px;
    margin-left: 0;
}

.main-sidebar-body .nav-sub-item .nav-sub .nav-sub-link {
    height: auto;
    padding: 7px 0;
}

.main-sidebar-body .nav-sub-item.active>.nav-sub-link {
    color: #3858f9;
    border-radius: 1px;
}

.main-sidebar-body .nav-sub-item.show .nav-sub {
    display: block;
}

.main-sidebar-body .nav-sub-link {
    height: 34px;
    display: flex;
    align-items: center;
    color: #6c7293;
    font-size: 13px;
    webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-sidebar-body .nav-sub-link.with-sub {
    justify-content: space-between;
}

.main-sidebar-body .nav-sub-link.with-sub::after {
    content: '\f3d0';
    font-family: 'Ionicons';
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin-left: auto;
    color: #bbb8e2;
}

.main-sidebar-body .nav-sub-link+.nav-sub-link {
    border-top: 1px dotted #bbb8e2;
}
.main-sidebar-header {
    flex-shrink: 0;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dee4ec;
    border-right: 1px solid #dee4ec;
    position: fixed;
    width: 240px;
    z-index: 999;
    transition: left 0.3s ease, width 0.3s ease;
}
.desktop-logo {
    height: 40px;
    margin: 0 auto;
}
.main-logo {
    height: 40px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.main-sidebar-loggedin {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-shrink: 0;
    border-bottom: 0;
    margin-top: 64px;
}
.user-pic img {
    width: 60px;
    height: 60px;
    font-size: 36px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.main-sidebar .nav-pills-circle {
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.sidebar-navs .nav-pills-circle .nav-link {
    display: block;
    padding: 0.4rem 0.6rem;
    font-size: 16px;
    border: 1px solid #e3e7ed;
    border-radius: 50%;
    line-height: 1.6;
    height: 38px;
    width: 38px;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.app-sidebar .sidebar-balance {
    padding: 12px;
    margin: 12px 0 !important;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.sidebar-panel .label {
    color: #979a9f;
    font-size: 12px;
    line-height: 1;
}
.sidebar-panel .value {
    color: #161537;
    font-size: 18px;
    display: block;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1px;
}
.sidebar-panel li+li::before {
    content: "";
    width: 1px;
    height: 48px;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 20px;
    background-color: #0094da;
}
.main-sidebar-body {
    padding: 0;
    margin-top: 0;
}
.side-menu {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.side-menu .slide {
    position: relative;
    padding: 0;
    border-bottom: 1px dotted #ecedf2;
}
.badge {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 3px 5px 4px;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700 !important;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.side-badge {
    right: 21px;
    position: absolute;
    padding: 2px 4px 4px !important;
}
.badge-pink {
    color: #fff;
    background-color: #f10075 !important;
    box-shadow: 0 7px 30px rgb(241 12 123 / 25%);
}
.mb-auto, .my-auto {
    margin-bottom: auto !important;
}

.mt-auto, .my-auto {
    margin-top: auto !important;
}

@media (max-width:280px){
    .special-form{
        margin: 12px;
        padding: 32px !important;
        width: 100%;
    }
    .login-card{
        padding: 12px;
    }
    .content-group{
        padding: 0 36px !important;
    }
    .app-card{
        padding: 12px;
    }
    .sectigo-logo{
        width: auto;
        height: 28px !important;
    }
    .playstore{
        width: auto;
        height: 28px !important;
    }
    .captcha-image{
        margin-right: 6px !important;
    }
    .custom-control-label{
        font-size: 10px !important;
    }
    .forgot-label{
        font-size: 10px !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
    }
    .weblink{
        font-size: 12px  !important;
    }
    .weblink li+li::before {
        height: 12px !important;
        margin: 0 8px;
    }
}

@media (max-width:320px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .special-form{
        margin: 32px 0 !important;
        width: 100%;
    }
    .login-card{
        padding: 16px;
    }
    .app-card{
        padding: 16px;
    }
    .sectigo-logo{
        width: auto;
        height: 32px !important;
    }
    .playstore{
        width: auto;
        height: 32px !important;
    }
    .sm-title{
        font-size: 12px !important;
        color: #000000;
        margin-bottom: 4px !important;
    }
    .bg-title{
        font-size: 20px !important;
        color: #0094da;
        margin-bottom: 20px !important;
        margin-top: 0 !important;
    }
    .micro-atm{
        display: none;
    }
    .captcha-image{
        margin-right: 8px;
    }
    .custom-control-label{
        font-size: 12px !important;
    }
    .forgot-label{
        font-size: 12px !important;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .weblink{
        font-size: 12px  !important;
    }
    .weblink li+li::before {
        height: 12px !important;
        margin: 0 8px;
    }   
}
@media (max-width:360px){
    .sectigo-logo{
        width: auto;
        height: 36px !important;
    }
    .playstore{
        width: auto;
        height: 36px !important;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .weblink{
        font-size: 14px  !important;
    }
    .weblink li+li::before {
        height: 14px !important;
        margin: 0 8px;
    }
}
@media (max-width:411px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .special-form{
        margin: 40px 0 !important;
        width: 100%;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 14px;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .weblink{
        font-size: 16px;
    }
    .weblink li+li::before {
        height: 16px;
        margin: 0 8px !important;
    }
}
@media (max-width:414px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .logo-login{
        width: 180px;
        height: auto;
    }
    .login-card{
        padding: 20px;
    }
    .app-card{
        padding: 10px 24px 24px;
    }
    .special-form{
        margin: 20px 0;
        padding: 0 !important;
        width: 100%;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 14px;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .sectigo-logo{
        width: auto;
        height: 40px;
    }
    .playstore{
        width: auto;
        height: 40px;
    }
    .weblink li+li::before {
        margin: 0 12px;
    }
    
}
@media (max-width:540px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .special-form{
        margin: 20px 0;
        padding: 0 !important;
        width: 100%;
    }
    .sectigo-logo{
        width: auto;
        height: 36px !important;
    }
    .playstore{
        width: auto;
        height: 36px !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
    }
    
}
@media (max-width: 548px) {
    .app .header-brand .logo-default {
        display: none;
    }

    .app .header-brand .icon-default {
        display: none;
    }

    .app .header-brand .icon-white {
        display: block;
        height: 2.5rem;
        margin-left: 3em;
    }

    .main-body.app.header-white .header-brand .icon-white {
        display: none !important;
    }

    .main-body.app.header-white .header-brand .icon-default {
        display: block !important;
        height: 2.5rem;
        margin-left: 3em;
    }

    .app .header-brand .logo-white {
        display: none;
        height: 2.5rem;
    }
}
@media (max-width: 767px) {
    .main-sidebar-header {
        display: none !important;
    }

    .main-sidebar-loggedin {
        margin-top: 0 !important;
    }

    .main-header {
        background: linear-gradient(45deg, #c53a7f, #3858f9) !important;
    }
}
@media (max-width:768px){
    #content-desktop {display: none;}
    #content-mobile {display: block;}
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .micro-atm{
        display: none;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
        padding-right: 16px;
    }
    .app.sidebar-mini.dark-theme.sidenav-toggled .main-sidebar-header .desktop-logo.icon-logo {
        display: none;
        height: 2.5rem;
    }

    .app.sidebar-mini.dark-theme.sidenav-toggled .main-sidebar-header .logo-icon.icon-dark {
        display: block;
        height: 2.5rem;
    }
    .app.sidebar-mini .desktop-logo.logo-light {
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
   .app.sidebar-mini .desktop-logo.icon-logo {
        display: none;
    }
}
@media (prefers-reduced-motion: reduce) {
    .main-sidebar {
        transition: none;
    }
}
@media (min-width: 992px){
    .main-sidebar {
        width: 220px;
        position: fixed;
        display: flex;
        transform: none;
        z-index: 99;
        border-right-width: 1px;
        visibility: visible;
        background: #fff;
        transition: left 0.3s ease, width 0.3s ease;
    }
}
@media (max-width: 991.98px) {
    .main-sidebar-show {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #fff;
    }

    .main-sidebar-show .main-sidebar {
        display: flex;
        overflow-y: auto;
        transform: translateX(0);
        visibility: visible;
    }

    .main-sidebar-show .main-content {
        transform: translateX(240px);
    }

    .main-sidebar-show .main-navbar-backdrop {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .login-card{
        padding: 24px;
    }
    .download-app{
        font-size: 12px;
        text-align: left !important;
        align-items: center;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .footer-content{
        position: inherit;
    }
    .footer-content{
        position: inherit;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
        flex-direction: column;
    }
    .copyright, .about-company, .social{
        flex: 100%;
        text-align: center;
    }
    .about-login, .loginlink{
        flex: 100%;
        text-align: center;
    }
    .main-body-sidebar {
        display: flex;
        flex-direction: row;
    }
    .main-body-sidebar .main-header .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-sidebar-hide .main-header-menu-icon {
        margin: 0 auto !important;
        text-align: center;
    }
    .main-sidebar-hide .main-sidebar-body .nav-item {
        border-top: 0;
    }

    .main-sidebar-hide .main-sidebar-body .nav-item.active .nav-link {
        border-radius: 50%;
        margin: 0;
        height: 42px;
        width: 42px;
    }

    .main-sidebar-hide .main-sidebar-body .nav-link {
        border-radius: 50%;
        margin: 0;
        height: 42px;
        width: 42px;
        margin: 2px 0;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 2px 10px;
    }
    .main-sidebar-hide .main-sidebar-header {
        border-right: 1px solid #dee4ec;
        width: 80px;
    }
    

    .main-sidebar-header {
        width: 240px;
        z-index: 999;
    }.main-sidebar-hide .main-sidebar-body .nav-link {
        border-radius: 0;
        margin-right: 0;
    }
    .main-sidebar-sticky+.main-content {
        margin-left: 220px;
    }
    .main-sidebar-body .nav-sub-link.with-sub::after {
        margin-left: 4px;
        font-size: 12px;
    }
}

@media (max-width:1024px){
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .download-app{
        font-size: 12px;
        text-align: left !important;
    }
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .content-group{
        padding: 0 24px !important;
    }
    .login-form{
        padding-top: 12PX;
    }
    .login-description{
        font-size: 18px !important;
        margin: 0 0 20px 0 !important;
    }
    .input-icon{
        width: 16px !important;
        height: 16px !important;
        top: 14px !important;
    }
    .sectigo-logo{
        
        width: auto;
        height: 28px;
    }
    .playstore{
        width: auto;
        height: 28px;
    }
    .hero-contact{
        position: absolute;
        left: 22%;
    }
    .contact-info{
        padding-right: 16px;
    }
    .contact-text{
        font-size: 14px;
        color: #000000;
        margin: 0 !important;
    }
    
}
@media (max-width:1200px){
    .content-group{
        padding: 0 48px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
    }
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .hero-contact{
        position: absolute;
        left: 24%;
    }
    .contact-info{
        padding-right: 16px;
    }
    .contact-text{
        font-size: 14px;
        color: #000000;
        margin: 0 !important;
    }
    .weblink li+li::before {
        margin: 0 8px;
    }
    .main-sidebar-sticky+.main-content {
        margin-left: 240px;
    }
    .main-sidebar-body {
        padding: 0;
    }
}
