* {
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.profile-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding-top: 4px;
    display: block;
    color: #1e2022;
    margin-bottom: 0;
}
.profile-text{
    font-size: 12px;
    line-height: 1;
    color: #646464;
}
.navbar-vertical-content:hover{
    overflow-y: scroll !important;
}
.sidebar-balance {
    vertical-align: middle;
    padding: 20px 28px !important;
    border-bottom: 1px solid #e0e0e0;
}
.sidebar-panel .value {
    letter-spacing: 1px;
    color: #161537;
    font-size: 16px;
    display: block;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1px;
}
.sidebar-panel li{
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
}
.sidebar-panel li+li::before {
    content: "";
    width: 1px;
    height: 36px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin: 0 16px;
    background-color: #377dff;
}
.navbar-dark .balance-label{
    color: #fff !important;
}
.navbar-dark .value{
    color: #fff !important;
}
.form-content{
    align-items: center;
}
.carousel-item{
    height: 100vh;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #0094da !important;
    background-color: #0094da !important;
}
#content-desktop {display: block;}
#content-mobile {display: none;}
.my-header{
    left: 0 !important;
    top: 0 !important;
    background-color: #f1f4f8;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.join-us{
    background-color: #0094da !important;
    border: none !important;
    padding: 0 16px !important;
    line-height: 36px !important;
    border-radius: 4px !important;
	margin: 0 !important;
}
.join-us:hover{
    background-color: #236AC2 !important;
}
.sign-in{
    font-size: 14px !important;
    cursor: pointer;
    background-color: #e5f6fd !important;
    color: #0094da !important;
    border: 1px solid #0094da !important;
    width: 100%;
    height: 40px;
    margin: 0 !important;
    text-transform:uppercase;
    padding: 0 16px !important;
    line-height: 36px !important;
    border-radius: 4px !important;
}
.sign-in:hover{
    cursor: pointer;
    background-color: #0094da !important;
    color: #ffffff !important;
}
.hero-contact{
	position: relative;
    left: 8%;
}
.information{
    text-align: center;
    left: 50%;
}
.contact-info{
    padding-right: 16px;
}
.contact-text{
    font-size: 16px;
    color: #000000;
    margin: 0 !important;
}
.contact-icon{
    width: 16px;
    height: auto;
    margin-right: 8px;
}
.hero-content{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    vertical-align: middle;
    clear: both;
}
.micro-atm{
    bottom: 0;
	width: 100%;
}
.special-form{
    padding: 0;
    margin: 20px 0;
}
.content-group{
    padding: 0 60px !important;
}
.login-card{
    width: 100%;
    padding: 24px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
}
.logo-login{
    width: 160px;
    height: auto;
}
.login-header{
    text-align: left;
    text-transform: uppercase;
}
.form-title{
    color: #000000;
    margin: 0 0 24px 0 !important;
}
.login-description{
    font-size: 20px !important;
    color: #646464;
	margin: 0 0 32px 0 !important;
}
.login-form{
    padding-top: 16px;
}
.app-card{
    width: 100%;
    padding: 12px 24px 24px;
    overflow: hidden;
    margin: 1px 0 0 0 !important;
    border-radius: 0 0 4px 4px!important;
    background-color:#ffffff;
    text-align: center;
}
.app-card.d-flex{
    flex-direction: row;
}
.captcha-group{
    clear: both;
    float: left;
    margin-bottom: 28px;
}
.captcha-image{
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #000;
}

.refresh{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin-left: 12px !important;
    position: absolute;
}
.captcha-icon{
    width: 24px;
    height: auto;
}
.banner-group{
    align-items:center;
    top:50%;
}
.star {
	color: red;
	font-size: 22px !important;
	line-height: 0px;
    padding-left: 4px;
  }
.custom-control-label{
    font-size: 14px !important;
    color: #000000 !important;
    line-height: 22px;
}
.forgot-label{
    font-size: 14px !important;
    color: #0094da !important;
    line-height: 22px;
    float: right;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}
.forgot-label:hover{
    color:#00415f !important;
}
.loginlink {
    text-align: center;
    list-style: none;
    padding-left: 0;
    font-family: Roboto-Regular,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 16px 0;
}
.loginlink li {
    display: inline-block;
    position: relative;
}
.loginlink li a{
    color: #0094da !important;
}
.loginlink li a:hover{
    color: #00415f !important;
}
.loginlink li+li::before {
    content: "";
    width: 1px;
    height: 14px;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 10px;
    background-color: #0094da;
}
.weblink {
    text-align: center;
    list-style: none;
    padding: 16px 0 0 0;
    font-family: Roboto-Regular,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    border-top: 1px solid #cecece;
}
.weblink li {
    display: inline-block;
    position: relative;
}
.weblink li a{
    color: #000000 !important;
}
.weblink li a:hover{
    color: #0094da !important;
}
.weblink li+li::before {
    content: "";
    width: 1px;
    height: 16px;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 12px;
    background-color: #0094da;
}
.ssl-secured{
    padding: 32px 0 0 0 !important;
}
.ssl-secured.d-flex{
    flex-direction: row;
}
.link-to-website{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0 8px;
}
.link-to-website:hover{
    color: #0094da !important;
}
.sectigo-brand{
    padding: 0 !important;
}
.dnld-app{
    padding: 0 !important;
}
.download-app{
    font-size: 12px !important;
    color: #000000;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-bottom: 8px;
}
.footer-content{
    width: 100%;
    padding: 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-text{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
}
.link-to-website{
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0 8px;
}
.link-to-website:hover{
    color: #0094da !important;
}
.social{
    padding-top: 8px;
}
.social-media{
    padding-left: 4px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff !important;
    content: ">" !important;
}
.breadcrumb-item.active {
    color: #fff !important;
}
.btn.focus, .btn:focus{
    box-shadow: none !important;
}
.btn-link.focus, .btn-link:focus{
    text-decoration: none !important;
}
.btn-link:hover{
    text-decoration: none !important;
}

.dropdown-item i {
    font-size: 16px !important;
    margin-right: 10px !important;
    width: 24px !important;
    text-align: center !important;
}

@media (max-width:280px){
    .special-form{
        margin: 12px;
        padding: 32px !important;
        width: 100%;
    }
    .login-card{
        padding: 12px;
    }
    .content-group{
        padding: 0 36px !important;
    }
    .app-card{
        padding: 12px;
    }
    .sectigo-logo{
        width: auto;
        height: 28px !important;
    }
    .playstore{
        width: auto;
        height: 28px !important;
    }
    .captcha-image{
        margin-right: 6px !important;
    }
    .custom-control-label{
        font-size: 10px !important;
    }
    .forgot-label{
        font-size: 10px !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
    }
    .weblink{
        font-size: 12px  !important;
    }
    .weblink li+li::before {
        height: 12px !important;
        margin: 0 8px;
    }
}

@media (max-width:320px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .special-form{
        margin: 32px 0 !important;
        width: 100%;
    }
    .login-card{
        padding: 16px;
    }
    .app-card{
        padding: 16px;
    }
    .sectigo-logo{
        width: auto;
        height: 32px !important;
    }
    .playstore{
        width: auto;
        height: 32px !important;
    }
    .sm-title{
        font-size: 12px !important;
        color: #000000;
        margin-bottom: 4px !important;
    }
    .bg-title{
        font-size: 20px !important;
        color: #0094da;
        margin-bottom: 20px !important;
        margin-top: 0 !important;
    }
    .micro-atm{
        display: none;
    }
    .captcha-image{
        margin-right: 8px;
    }
    .custom-control-label{
        font-size: 12px !important;
    }
    .forgot-label{
        font-size: 12px !important;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .weblink{
        font-size: 12px  !important;
    }
    .weblink li+li::before {
        height: 12px !important;
        margin: 0 8px;
    }   
}
@media (max-width:360px){
    .sectigo-logo{
        width: auto;
        height: 36px !important;
    }
    .playstore{
        width: auto;
        height: 36px !important;
    }
    .download-app{
        font-size: 12px !important;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .weblink{
        font-size: 14px  !important;
    }
    .weblink li+li::before {
        height: 14px !important;
        margin: 0 8px;
    }
}
@media (max-width:411px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .special-form{
        margin: 40px 0 !important;
        width: 100%;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 14px;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .weblink{
        font-size: 16px;
    }
    .weblink li+li::before {
        height: 16px;
        margin: 0 8px !important;
    }
}
@media (max-width:414px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .logo-login{
        width: 180px;
        height: auto;
    }
    .login-card{
        padding: 20px;
    }
    .app-card{
        padding: 10px 24px 24px;
    }
    .special-form{
        margin: 20px 0;
        padding: 0 !important;
        width: 100%;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 14px;
        text-align: left !important;
        padding-right: 0 !important;
    }
    .sectigo-logo{
        width: auto;
        height: 40px;
    }
    .playstore{
        width: auto;
        height: 40px;
    }
    .weblink li+li::before {
        margin: 0 12px;
    }
    
}
@media (max-width:540px){
    .navbar-brand img{
        width: auto;
        height: 36px;
    }
    .join-us {
        line-height: 32px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .special-form{
        margin: 20px 0;
        padding: 0 !important;
        width: 100%;
    }
    .sectigo-logo{
        width: auto;
        height: 36px !important;
    }
    .playstore{
        width: auto;
        height: 36px !important;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-text{
        font-size: 12px;
        line-height: 20px;
    }
    .link-to-website{
        font-size: 12px;
        line-height: 20px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
    }
    
}
@media (max-width: 548px) {
    .app .header-brand .logo-default {
        display: none;
    }

    .app .header-brand .icon-default {
        display: none;
    }

    .app .header-brand .icon-white {
        display: block;
        height: 2.5rem;
        margin-left: 3em;
    }
}
@media (max-width:768px){
    #content-desktop {display: none;}
    #content-mobile {display: block;}
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .micro-atm{
        display: none;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
        padding-right: 16px;
    }
}
@media (max-width: 992px) {
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .login-card{
        padding: 24px;
    }
    .download-app{
        font-size: 12px;
        text-align: left !important;
        align-items: center;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .footer-content{
        position: inherit;
    }
    .footer-content{
        position: inherit;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
        flex-direction: column;
    }
    .copyright, .about-company, .social{
        flex: 100%;
        text-align: center;
    }
    .about-login, .loginlink{
        flex: 100%;
        text-align: center;
    }
}

@media (max-width:1024px){
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .download-app{
        font-size: 12px;
        text-align: left !important;
    }
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .content-group{
        padding: 0 24px !important;
    }
    .login-form{
        padding-top: 12PX;
    }
    .login-description{
        font-size: 18px !important;
        margin: 0 0 20px 0 !important;
    }
    .input-icon{
        width: 16px !important;
        height: 16px !important;
        top: 14px !important;
    }
    .sectigo-logo{
        
        width: auto;
        height: 28px;
    }
    .playstore{
        width: auto;
        height: 28px;
    }
    .hero-contact{
        position: absolute;
        left: 22%;
    }
    .contact-info{
        padding-right: 16px;
    }
    .contact-text{
        font-size: 14px;
        color: #000000;
        margin: 0 !important;
    }
    
}
@media (max-width:1200px){
    .content-group{
        padding: 0 48px !important;
    }
    .login-card{
        padding: 24px;
    }
    .app-card{
        padding: 12px 24px 24px;
    }
    .download-app{
        font-size: 16px;
        text-align: left !important;
    }
    .special-form{
        margin: 20px 0;
        width: 100%;
    }
    .hero-contact{
        position: absolute;
        left: 24%;
    }
    .contact-info{
        padding-right: 16px;
    }
    .contact-text{
        font-size: 14px;
        color: #000000;
        margin: 0 !important;
    }
    .weblink li+li::before {
        margin: 0 8px;
    }
}
